<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433789710116-5fdba732hd618gmssh688kndafno48o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433789710116-5fdba732hd618gmssh688kndafno48o1</string>
	<key>API_KEY</key>
	<string>AIzaSyDzQttncm3mgEtjROYDAA2v3-QeJLndkao</string>
	<key>GCM_SENDER_ID</key>
	<string>433789710116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userFrontendMybarber</string>
	<key>PROJECT_ID</key>
	<string>mybarber-79755</string>
	<key>STORAGE_BUCKET</key>
	<string>mybarber-79755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433789710116:ios:9d405c64784f6655214db1</string>
</dict>
</plist>